---
interface Props {
  name: string;
  position: string;
  email: string;
  telegram: string;
}

const { name, position, email, telegram } = Astro.props;
---

<div class="flex w-full max-w-[380px] flex-grow flex-col">
  <picture class="mb-4 aspect-square w-full bg-gray-500 lg:mb-8"> </picture>
  <div class="flex flex-col gap-1.5 lg:gap-2">
    <span class="text-lg font-semibold text-primary-blue lg:text-2xl"
      >{name}</span
    >
    <span class="font-bold text-black lg:text-lg">{position}</span>
    <p class="flex flex-col text-sm lg:text-base">
      <a class="hover:underline" href="#">tg icon {telegram}</a>
      <a class="hover:underline" href="mailto:{email}">{email}</a>
    </p>
  </div>
</div>
