---
interface Props {
  name: string;
  position: string;
  phone: string;
  image: string;
}

const { name, position, phone, image } = Astro.props;
---

<div class="flex w-full max-w-[380px] flex-grow flex-col">
  <picture class="mb-4 aspect-square w-full lg:mb-8">
    <img src={image} alt={name} class="inset-0 object-cover" />
  </picture>
  <div class="flex flex-col gap-1.5 lg:gap-2">
    <span class="text-lg font-semibold text-primary-blue lg:text-2xl"
      >{name}</span
    >
    <span class="font-bold text-black lg:text-lg">{position}</span>
    <p class="flex flex-col text-sm lg:text-base">
      <a class="hover:underline" href={`tel:${phone}`}>{phone}</a>
    </p>
  </div>
</div>
