---
import { t } from 'i18next';
import Input from './Input.tsx';
---

<form id="contact-form" class="mt-6 space-y-4">
  <p>
    {t('join.formCation')}
  </p>
  <div>
    <div class="grid md:grid-cols-2 md:gap-6">
      <Input
        name="firstName"
        label={t('join.form.firstName')}
        required
        autocomplete="given-name"
      />
      <Input
        name="lastName"
        label={t('join.form.lastName')}
        required
        autocomplete="family-name"
      />
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
      <Input name="phone" type="tel" label={t('join.form.phone')} />
      <Input name="email" type="email" label={t('join.form.email')} />
    </div>
    <div class="w-full">
      <Input name="message" type="textarea" label={t('join.form.message')} />
    </div>
  </div>
  <button
    class="w-full bg-primary-yellow p-3 font-heading text-2xl font-bold text-black"
    >{t('join.form.button')}</button
  >
</form>

<script>
  const form = document.querySelector('#contact-form');

  const formatEmail = ({ firstName, lastName, email, phone, message }) =>
    `Name: ${firstName} ${lastName} \n` +
    `Email: ${email} \n` +
    `Phone: ${phone} \n` +
    `Message: \n${message}`;

  form.addEventListener('submit', (e) => {
    e.preventDefault();

    // open email client
    const formData = new FormData(form);
    console.log(Object.fromEntries(formData.entries()));
    const body = formatEmail(Object.fromEntries(formData.entries()));

    const subject = 'Питання про співпрацю';
    const mailto = `mailto:perehrestya.mriy@gmail.com?subject=${subject}&body=${encodeURIComponent(
      body,
    )}`;

    window.open(mailto, '_blank');
  });
</script>
